body{
    background: url(../images/blue\ skies.jpg);
    background-color: #4aaaa5;
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: 100%;
    background-attachment: fixed;
    height: 800px;
    text-align: center
}
#instructions-div{
    text-align: left;
    border: 2px solid black;
    margin-left: 50px;
    margin-top: 10px;
    margin-right: 75px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
    background-color: antiquewhite;
    display: inline-block;
    }
#new-button{
    margin-top: 40px;
    margin-bottom: 40px;
}
#qbox{
    text-align: justify;
    margin-left: 50px;
    margin-bottom: 50px;
}